.buttonContainer {
  width: 120px;
  height: 60px;
  border: 1px rgb(56, 54, 54) solid;
  border-radius: 5px;
  background-color: rgb(56, 54, 54, 0.7);
  position: relative;
}

.buttonContainer a {
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.buttonContainer a img {
  display: none;
}

.buttonContainer a:hover img {
  display: block;
  text-align: center;
  transform: rotate(360deg);
  transition: transform 450ms ease-in;
}

.buttonContainer a p {
  padding-top: 10px;
}

.buttonContainer a:hover p {
  display: none;
}
